{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel = "icon" href ="static/logo.jpg" type = "image/x-icon"> 
  <title>AI - Automatic Tagging</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{% static 'js/upload_preview.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-expand-md">
  <img class="img-fluid" style="width: 10%;height: 10%;" src="static/logo.jpg" alt="Logo" >
  <h1 style="color:#407143;font-weight: bold; font-size: 3vw; margin-left: 2%;"><a style="color: #407143; text-decoration: none;" href="{% url 'faceapp:index' %}">Department of Computer Engineering & Applications</a></h1>

</nav>

<nav style="padding-top: 1%; padding-bottom: 1%; background-color: #407143;" class="navbar navbar-expand-md justify-content-center">
  
<h4 style="color: white; font-size: 1.5vw; font-weight: bold;">“Machine Learning Approach for Suspect Face Retrieval using Verbal Description given by an Eye Witness” <br><span style="color: yellow; padding-left: 40%;">A project Sponsored by Ministry of Electronics & IT (MeitY)</span></h4>


</nav>
<nav style="padding-top: 1%; padding-bottom: 1%; background-color: #336eff;" class="navbar navbar-expand-md justify-content-center">
  
<h4 style="color: white; font-size: 2vw; font-weight: bold;">AI - Automatic Tagging</h4>


</nav>

  
<br>

<div  class="container" >
  
  <form action = "{% url 'faceapp:result' %}"  id="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-12"></div>
    </div>
    <div class="row">
  <div class="col" >
      <div style="text-align: center;" class="form-group form-check">
     

        <img class="img-fluid first" id="upload" src="static/upload_icon.png" alt="Chania">
   
   
        
    
    <div style="text-align: center; margin-top: 2%;" class="row first">
      <div  class="col-sm-12"><label class="file"><input required align="center" id="img" name="img" accept="image/*" type='file' onchange="return ValidateFileUpload()" />


        <span class="file-custom"></span></label></div>
      
    </div>
  </div>

  </div>





</div>

<br>
  <div style="text-align: center;" class="row first">
  
  <div class="col-sm-12"><button style="width: 15vw;" type="submit" name="submit" onsubmit="return validatevalue();" class="btn btn-primary">Submit</button></div> 
  <br> 
  </div>
  
</form>

</div>

</body>
</html>


